* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #f8f8ff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 0;
}
.imagem-cabecalho {
  height: 460px;
}
.texto-cabecalho h1 {
  font-size: 40px;
}
.texto-cabecalho p {
  font-size: 24px;
  margin-top: 36px;
  margin-bottom: 32px;
  line-height: 35px;
}
.texto-cabecalho a {
  text-decoration: none;
  color: #fff;
  background-color: #846aff;
  padding: 14px 32px;
  border-radius: 4px;
}

.texto-cabecalho span {
  color: #846aff;
}
.artigos-section {
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
}
.artigos-section h2 {
  margin-top: 80px;
  margin-bottom: 113px;
  font-size: 32px;
}
.texto-artigo {
  padding: 32px 24px 32px 24px;
}
.texto-artigo h3 {
  margin-bottom: 12px;
}
.texto-artigo h3,
p {
  line-height: 25px;
}
.lista-artigos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* width: 1216px; */
  list-style: none;
  gap: 32px;
}
.lista-artigos li {
  border-radius: 8px;
  width: 384px;
  border: 2px solid #eeeeff;
}

footer {
  margin-top: 80px;
  background-color: #f8f8ff;
}
form {
  width: 100%;
  max-width: 592px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
form h4 {
  font-size: 34px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 48px;
}
.inputs {
  border: 1px solid #eaeaea;
  border-radius: 4px;
  font-size: 18px;
  outline-color: #cfcfd9;
}
.inputs-texto,
form textarea {
  padding: 19px 24px;
}
form textarea {
  resize: none;
}
#email {
  margin: 24px 0;
}
.btn-enviar {
  background-color: #846aff;
  color: #fff;
  padding: 14px 32px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 40px;
  border: none;
  margin-bottom: 94px;
  animation: animacaoBotao 1s ease-in-out infinite alternate;
}
.btn-enviar:hover {
  cursor: pointer;
}

@keyframes animacaoBotao {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@media (min-width: 710px) and (max-width: 1238px) {
  header {
    width: 550px;
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  .imagem-cabecalho {
    height: 379.5px;
  }
  .texto-cabecalho h1,
  p {
    text-align: center;
  }
  .btn-buscar {
    text-align: center;
  }
  .artigos-section {
    max-width: 704px;
  }
  .lista-artigos li,
  img {
    width: 335px;
  }
  .texto-artigo h3 {
    font-weight: 600;
    font-size: 16.5px;
    line-height: 23.4px;
  }
  .texto-artigo p {
    font-size: 14px;
    text-align: start;
  }
  form {
    max-width: 630px;
  }
}
@media (max-width: 710px) {
  header {
    width: 327px;
    flex-direction: column-reverse;
    margin: 0 auto;
    text-align: center;
  }
  .texto-cabecalho h1 {
    font-size: 24px;
  }
  .texto-cabecalho p {
    font-size: 16px;
    line-height: normal;
  }
  .imagem-cabecalho {
    height: 240px;
  }
  .btn-buscar a {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .esconder-br{
    display: none;
  }
  .artigos-section, .lista-artigos img{
    max-width: 327px;
  }
  .artigos-section h2{
    font-size: 24px;
  }
  form{
    max-width: 326px;
  }
}
