* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Andada Pro", serif;
}

body {
    background-image: url(background.png);
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 48px 0px;
}

header li {
    display: inline-block;
    margin: 0 10px;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    width: 1216px;
    margin: 0 auto;
}

.texto-main {
    color: #fff;
    max-width: 100%;
    width: 502px;
}

.texto-main h3 {
    font-size: 20px;
}

.texto-main h1 {
    font-size: 64px;
    margin: 8px 0 32px 0;
    line-height: 70.4px;
}

.texto-main p {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.imagem-main img {
    height: 423.8px;
}

.texto-main a {
    margin-top: 48px;
    padding: 14px 25px;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.botoes {
    display: flex;
    gap: 32px;
    margin-bottom: 20px;
}

#botao-com-img {
    background-color: #F1A5B1;
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

#botao-sem-img {
    border: 2px solid #F1A5B1;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

@media (min-width: 534px) and (max-width: 1013px){
    main{
        flex-direction: column-reverse;
    }
    .imagem-main img{
        height: 239.96px;
    }
    .texto-main h3{
        font-size: 16px;
    }
    .texto-main h1{
        font-size: 40px;
        line-height: 50px;
    }
    .texto-main h1 span{
        display: block;
    }
    .texto-main p{
        font-size: 16px;  
        text-align: justify;
    }
    .br{
        display: none;
    }
    .botoes{
        flex-direction: column;
        gap: 10px;
    }
    #botao-com-img, #botao-sem-img{
        justify-content: center;
    }
    #botao-sem-img{
        margin-top: 10px;
    }
}
@media (max-width: 534px){
    header ul{
        display: none;
    }
    .texto-main p{
        text-align: start;
        word-spacing: -1px;
    }
    main{
        flex-direction: column-reverse;
        max-width: 327px;
    }
    .imagem-main img{
        height: 184.58px;
    }
    .texto-main h3{
        font-size: 16px;
    }
    .texto-main h1{
        font-size: 40px;
        line-height: 50px;
    }
    .texto-main h1 span{
        display: block;
    }
    .texto-main p{
        font-size: 16px;  
        text-align: justify;
    }
    .botoes{
        flex-direction: column;
        gap: 10px;
    }
    #botao-com-img, #botao-sem-img{
        justify-content: center;
    }
    #botao-sem-img{
        margin-top: 10px;
    }
}