* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 116px;
    border-bottom: 2px solid #E2E2E2;
}

header ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.container-principal {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

nav ul {
    padding: 48px 0px;
    display: flex;
    list-style: none;
    gap: 48px;
}

nav li {
    font-size: 18px;
}

.artigos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 32px;
}

.artigos li {
    width: 370px;
    height: 300px;
    padding: 20px;
}

.artigos h2 {
    margin-top: 175px;
    font-size: 16px;
}

.artigos h1 {
    font-size: 24px;
}

.artigos h2,
h1 {
    color: #fff;
}

.artigos img {
    width: 100%;
}

.artigo1,
.artigo2,
.artigo3,
.artigo4 {
    background-size: cover;
    background-repeat: no-repeat;
}

.artigo1 {
    background-image: url(xbox.jpg);
}

.artigo2 {
    background-image: url(cyberpunk.jpg);
}

.artigo3 {
    background-image: url(multi.jpg);
}

.artigo4 {
    background-image: url(ea-games.jpg);
}

.btn-carregar {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    outline: none;
    margin-top: 40px;
    padding: 12px;
    border: none;
    gap: 16px;
    margin-bottom: 48px;
}

footer {
    border-top: 2px solid #E2E2E2;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
}

footer ul {
    display: flex;
    gap: 32px;
    list-style: none;
    padding: 24px 0;
}

footer button {
    cursor: pointer;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 16px;
}