* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 116px;
    border-bottom: 2px solid #E2E2E2;
}

header ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.container-principal {
    width: 100%;
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

nav ul {
    padding: 48px 0px;
    display: flex;
    list-style: none;
    gap: 48px;
}

nav li {
    font-size: 18px;
}

.artigos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    gap: 32px;
    width: 100%;

}

.artigos li {
    width: 384px;
    height: 500px;
    padding: 20px;
}

.artigos h2 {
    margin-top: 175px;
    font-size: 16px;
}

.artigos h1 {
    font-size: 24px;
}

.artigos h2,
h1 {
    color: #fff;
}

.artigos img {
    width: 100%;
}

.artigo1,
.artigo2,
.artigo3,
.artigo4 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
}

.artigo1 {
    background-image: url(xbox-bg.jpg);
}

.artigo2 {
    background-image: url(cyberphunk-bg.jpg);
}

.hamburguer {
    cursor: pointer;
    display: none;
}


.artigo3 {
    background-image: url(multiversus.png);
}

.artigo4 {
    background-image: url(ea-games-bg.jpg);
    width: 1200px !important;
    max-width: 100%;
    background-position: center;
}

.btn-carregar {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    outline: none;
    margin-top: 40px;
    padding: 12px;
    border: none;
    gap: 16px;
    margin-bottom: 48px;
}

footer {
    border-top: 2px solid #E2E2E2;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
}

footer ul {
    display: flex;
    gap: 32px;
    list-style: none;
    padding: 24px 0;
}

footer button {
    cursor: pointer;
    border: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 16px;
}

@media (min-width:726px) and (max-width: 1216px){
    .artigos{
        flex-direction: column;
        width: 704px !important;
    }
    .artigos li{
        width: 704px !important;
    }
    .artigos h1{
        font-size: 36px;
    }
    .artigos h2{
        margin-top: 250px;
        font-size: 16px;
    }
    .redes-sociais{
        display: none;
    }
    header{
        justify-content: space-between;
        padding: 0 40px;
    }
}

@media (max-width: 726px){
    .hamburguer{
        display: flex;
    }
    nav ul {
        position: fixed;
        width: 100%;
        left: 100%;
        /* background-color: red; */
        text-align: center;
        top: 110px;
        height: 100vh;
        flex-direction: column;
    }
    .lista-active {
        background-color: rgb(255, 255, 255);
        gap: 80px;
        left: 0;
        transition: left .3s ease-in-out;
    }
    .redes-sociais{
        display: none;
    }
    header{
        justify-content: space-between;
        padding: 0 10px;
    }
    header img{
        height: 24px;
    }
    .artigos{
        width: 327px;
    }
    .artigos li{
        background-position: center;
    }
    .artigos h2{
        margin-top: 260px;
        font-size: 16px;
    }
    .artigos h1{
        font-size: 24px;
    }
    nav ul {
        gap: 20px;
    }
    footer{
        flex-direction: column;
    }
    footer ul{
        flex-direction: column;
        margin: 0 auto;
    }
    footer button{
        margin-top: 20px;
    }
}