*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: #0e0e0f;
}
header{
    text-align: center;
    padding: 40px;
    background-color: #17171A;
}
header img{
    height: 20px;
}
.lupa{
    color: white;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 20px;
}
.barra-pesquisa{
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #202024;
    margin: 0 auto;
    height: 56px;
    max-width: 100%;
    width: 1200px;
    margin-top: 40px;
    border-radius: 8px;
}
#pesquisa{
    color: #AFABB6;
    width: 100%;
    padding: 15px 0;
    border: none;
    font-size: 20px;
    background-color: transparent;
    outline: none;
}
main {
    padding: 0px 40px;

}
.parte-favoritada{
    border: 2px solid #E07B67;
}
.partes, .parte-favoritada{
    padding: 20px;
    margin: 30px auto 30px auto;
    text-align: start;
    max-width: 100%;
    width: 1200px;
}
.partes{
    border: 2px solid #252529;
}
.elementos{
    display: flex;
    justify-content: space-between;
}
.textoElemento{
    color: #fff;
    margin: 10px 0;
}
.paragrafoElemento{
    color: #AFABB6;
}
.data{
    color: #E07B67
}

footer{
    
    background-color: #17171A;
    padding: 50px;
    text-align: center;
}

.imagemCoracao1:hover, .imagemCoracao2:hover, .imagemCoracao3:hover{
    cursor: pointer;
}