*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.formatacao-padrao{
    width: 1216px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
}
.navigation{
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.navigation img{
    height: 41px;
}
.navigation ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
.navigation a{
    text-decoration: none;
    color: #000;
}

.btn-padrao{
    color: #fff !important;
    padding: 12px 40px;
    background-color: #FF0000;
    border-radius: 60px;
    text-decoration: none;
}
.parte-comida{
    margin-top: 35px;
    align-items: center;
    justify-content: space-between;
}
.texto-comida{
    flex-direction: column;
    width: 50%;
}
.texto-comida p{
    margin: 10px 0 50px 0;
    font-size: 24px;
}
.parte-sobre-nos{
   justify-content: space-between;
   align-items: center;
   margin-top: 100px;
   margin-bottom: 100px;
}
.texto-sobre-nos h2{
    font-size: 24px;
    font-weight: 400;
    color: #FF0000;
}
.texto-sobre-nos p{
    font-size: 20px;
    max-width: 520px;
}
.texto-sobre-nos h1{
    margin: 10px 0;
    font-weight: 400;
    font-size: 48px;
}
.texto-sobre-nos span{
    display: block;
}
.imagem-prato img{
    width: 100%;
    
}
.comidas-populares-pagina{
    margin-top: 100px;
    align-items: center;
    flex-direction: column;
}
.comidas-populares{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    gap: 109px;
}
.comidas-populares div{
    background-color: #F8F5F2;
    text-align: center;
}
.comidas-populares p{
    font-size: 18px;
    margin: 15px 0;
}
.comidas-populares h1{
    margin-top: 30px;
}
.comidas-populares h3{
    color: #FF0000;
}
.comentarios-pagina{
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.comentarios{
    display: flex;
    justify-content: space-between ;
    margin-top: 50px;
    gap: 30px;
    
}
.comentarios div{
    background-color: #F8F5F2;
    width: 592px;
    padding: 20px;
    width: 100%;
}
.comentarios p{
    max-width: 100%;
    font-size: 24px;
}
.comentarios h1{
    font-size: 32px;
    margin: 20px 0;
}
.estrelinhas{
    margin-top: 25px;
}
.footer{
    flex-direction: column;
    margin-top: 30px;
}
.listas-footer{
    display: flex;
    margin: 70px 0;
}
.listas-footer ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    width: 30%;
}
.footer-logo-redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
.icones-redes img{
    cursor: pointer;
}
.img-twiter{
    margin: 0 10px;
}

@media (min-width:750px) and (max-width: 1230px){
    .formatacao-padrao{
        width: 700px;
    }
    .parte-comida{
        flex-direction: column-reverse;
        text-align: center;
    }
    .parte-sobre-nos{
        flex-direction: column;
        text-align: center;
    }
    .imagem-prato img{
        height: 400px;
    }
    .texto-sobre-nos span{
        display: inline-block;
    }
    .texto-sobre-nos h1{
        font-size: 35px;
    }
    .texto-sobre-nos p{
        font-size: 20px;
    }
    .comidas-populares{
        flex-direction: column;
    }
    .comentarios{
        flex-direction: column;
    }
    .imagem-comida img{
        height: 400px;
    }
}

@media (max-width: 750px){
    .formatacao-padrao{
        width: 300px;
    }
    .comidas-populares, .comentarios, .parte-sobre-nos{
        flex-direction: column;
    }
    .parte-comida{
        flex-direction: column-reverse;
        text-align: center;
    }
    .texto-comida h1{
        font-size: 20px;
        
    }
    .parte-sobre-nos{
        text-align: center;
    }
    .comentarios{
        width: 300px;
    }
    .navigation {
        justify-content: space-between;
    }
    .navigation ul{
        display: none;
    }
    .navigation img{
        height: 30px;
    }
    .btn-padrao{
        padding: 10px;
    }
    .imagem-comida img{
        height: 300px;
    }
    .texto-sobre-nos p{
        font-size: 20px;
    }
    .texto-comida{
        width: 100%;
    }
    .texto-comida p{
        text-align: center;
        font-size: 20px;
    }
    .texto-sobre-nos span{
        display: inline-block;
    }
    .texto-sobre-nos h1{
        font-size: 23px;
    }
    .texto-sobre-nos p{
        font-size: 15px;
    }
    .listas-footer{
        gap: 10px;
    }
    .listas-footer li{
        font-size: 10px;
    }
    .icones-redes img{
        height: 20px;
    }
}

